<h2>Desszertek</h2>
<div class="card-deck">
<div class="card">
    <img class="card-img-top" src="../assets/images/drink.jpg" alt="Epres bögrés süti">
    <div class="card-body">
      <h5 class="card-title">Margherita</h5>
      <ul>
          <li>2 dl vodka</li>
          <li>2 dl tequila</li>
          <li>3 dl narancslé</li>
        </ul>
        <ul class="steps"><h6>Lépések:</h6>
          <li>Rázzuk össze.</li>
          <li>Ihatjuk is! ^^</li>
        </ul>
    </div>
  </div>

  <div class="card">
      <img class="card-img-top" src="../assets/images/drink2.jpg" alt="Joghurtkrém csokival és gyümölccsel">
      <div class="card-body">
        <h5 class="card-title">Limonádé</h5>
        <ul>
            <li>2 liter víz</li>
            <li>1 citrom</li>
            <li>2-3 db mentalevél</li>
          </ul>
          <ul class="steps"><h6>Lépések:</h6>
            <li>A tojások sárgáját a mézzel tedd a turmixgépbe, majd keverd össze. Keverd hozzá a joghurtot, és add hozzá a citrom leszűrt levét is.</li>
            <li>Adagold ki poharakba a joghurtkrémet, és tedd hűtőbe legalább fél órára, hogy alaposan lehűljön.</li>
            <li>Amikor kész, a tetejét szórd meg csokiforgáccsal, gyümölcsdarabokkal vagy akár müzlivel, és már tálalhatod is a hűs desszertet a tikkasztó melegben.</li>
            <li>Mivel friss tojásos ételről van szó, még aznap fogyaszd el, nehogy bajt okozzon a finomság.</li>
          </ul>
      </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../assets/images/drink3.jpg" alt="Amerikai keksz">
        <div class="card-body">
          <h5 class="card-title">Forró csoki</h5>
          <ul>
              <li>35 dkg liszt</li>
              <li>20 dkg puha vaj</li>
              <li>10 dkg cukor</li>
              <li>1 tojás</li>
              <li>fél kiskanál sütőpor</li>
              <li>10 dkg vágott dió</li>
              <li>10 dkg vágott csoki</li>
              <li>10 dkg aszalt gyümölcs apróra vágva ( én áfonyával csináltam)</li>
              <li>Kevés fahéj, vaníliás cukor, rum, rumaroma</li>
            </ul>
            <ul class="steps"><h6>Lépések:</h6>
              <li>A vajat, cukrot és a vaníliás cukrot robotgéppel kikeverjük, hozzáadjuk a fahéjat, romot és aromát is majd a tojást, együtt habosra keverjük.</li>
              <li>A lisztben elkeverjük a sütőport, a kikevert masszához adjuk, hozzákeverjük az összevágott diót, csokit, aszalt gyümölcsöt. </li>
              <li>Diónyi gombócokat készítünk, kézzel szétlapítjuk ,sütőpapírra rakjuk 180 ˙C-on világosbarnára sütjük.</li>
            </ul>
        </div>
      </div>

      <div class="card">
          <img class="card-img-top" src="../assets/images/drink4.jpg" alt="Palacsinta">
          <div class="card-body">
            <h5 class="card-title">Palacsinta</h5>
            <ul>
                <li>2 dl szénsavas ásványvíz</li>
                <li>2 dl narancslé</li>
              </ul>
              <ul class="steps"><h6>Lépések:</h6>
                <li>A palacsintatészta hozzávalóit összekeverjük egy tálban, majd pár percig pihentetjük.</li>
                <li>Az első palacsinta sütése előtt a forró serpenyőbe egy kevés olajat öntünk (a következő palacsintáknál erre már nincs szükség, maximálisan elegendő, ami kisül a tésztából).</li>
                <li>A palacsintákat egyenként kisütjük, majd ízlés szerinti töltelékkel kínáljuk.</li>
              </ul>
          </div>
        </div>
</div>