<h2>Kategóriák</h2>
<div class="card-columns">
<div class="card">
    <img class="card-img-top" src="../assets/images/strawberrymugcake.jpg" alt="Desszertek">
    <div class="card-body">
      <h5 class="card-title">Desszertek</h5>
      <p class="card-text">Édesszájúaknak kötelezően ajánlott megtekinteni ezt az oldalt! ;)</p>
      <button routerLink="/recipes/desserts" class ="btn btn-warning">Ide kattintva megtekintheted melyek ezek</button>
    </div>
  </div>

  <div class="card">
      <img class="card-img-top" src="../assets/images/soup.jpg" alt="Levesek">
      <div class="card-body">
        <h5 class="card-title">Levesek</h5>
        <p class="card-text">Finomabbnál finomabb leveseket találsz itt</p>
        <button routerLink="/recipes/soups" class="btn btn-warning">Ide kattintva megtekintheted melyek ezek</button>
      </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../assets/images/maincourse.jpg" alt="Főétel">
        <div class="card-body">
          <h5 class="card-title">Főételek</h5>
          <p class="card-text">Itt találod a főételeket.</p>
          <button routerLink="/recipes/maincourses" class="btn btn-warning">Ide kattintva megtekintheted melyek ezek</button>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../assets/images/drink.jpg" alt="Drinks">
        <div class="card-body">
          <h5 class="card-title">Italok</h5>
          <p class="card-text">Itt találsz recepteket ha másra is vágynál, mint a víz.</p>
          <button routerLink="/recipes/drinks" class="btn btn-warning">Ide kattintva megtekintheted melyek ezek</button>
        </div>
      </div>
</div>